* {
    margin: 0px;
    border: border-box;
    font-family: Arial, sans-serif;
}

.apple-nav {
    height: 45px;
    background-color: #f5f5f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9em;
    font-size: small;
}

.logo {
    margin-left: 250px;
}

.cart {
    margin-right: 250px;
}

.apple-sec {
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.apple-sec a {
    text-decoration: none;
    margin-left: 2px;
}
.home{
    height: auto;
}
.home-apple{
    height: 250px;
    background-color: #f5f5f7;
}

/* .home-proucts{
   height: 100px;
   width: 600px;
   display: inline-block;
   padding: 50px;
} */
.apple-store {
    height: 250px;
    width: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.7rem;
    margin-left: 100px;
    color: grey;
    font-weight: bold;
}

/* .apple-need{
    height: 250px;
    width: 185px;
} */

.products {
    height: 210px;
    background-color: #f5f5f7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    height: 150px;
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    /* border: 1px solid black; */
}

.box-img {
    height: 80px;
    width: 100px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content h3 {
    padding-left: 45px;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.box1 {
    margin-left: 100px;
}

.box2 {
    margin-right: 100px;
}

.msg {
    height: 40px;
    background-color: #f5f5f7;
    color: grey;
    padding-left: 100px;
    font-size: 2rem;
}

.moving {
    height: 600px;
    background-color: #f5f5f7;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b {
    height: 500px;
    width: 400px;
    background-size: cover;
    border-radius: 5%;
    padding-left: 20px;
    margin-left: 20px;
}
.info{
    padding-left: 2px;
    background-color: #f5f5f7;
    color: grey;
    font-size: 2rem;
    padding-left: 100px;
}
.help{
    height: 600px;
    background-color: #f5f5f7;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b1{
    height: 500px;
    width: 480px;
    background-size: cover;
    border-radius: 5%;
    padding-left: 20px;
    margin-left: 20px;
}
.footer {
    background: #f5f5f7;
    padding: 40px 0;
    margin-top: 50px;
    border-top: 1px solid #d2d2d7;
}

.footer-container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
}

.footer-column h4 {
    margin-bottom: 12px;
    font-size: 15px;
    color: #1d1d1f;
}

.footer-column a {
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    color: #515154;
    font-size: 14px;
}

.footer-column a:hover {
    color: #000;
}

.footer-column p {
    font-size: 14px;
    color: #515154;
    margin: 5px 0;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    color: #86868b;
    font-size: 13px;
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
}
